@* index.cshtml *@
@page
@model Razor_Pages_ListOfMovies3.Pages.IndexModel
@{
    ViewData["Title"] = "List of Movies";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Movie List</title>   
    <!-- ссылка на файл со стилем не работает  -->
    <link rel="stylesheet" href="/css/StyleSheet.css"> <!-- путь к файлу CSS в папке wwwroot/css -->
    <style>
        body {
            margin: 0 15px;
            padding: 5px 10px 0;
            /*background-color: rgb(240, 240, 240); /* серый цвет, фон всей страницы */
            background-color: rgb(135, 160, 245);
            font-family: Verdana, sans-serif; /* стиль шрифта Verdana без засечек */
            font-size: 18px;
            color: black; /* цвет текста */
        } 
    </style>
</head>
<body>
    <h2>Welcome to List of Movies!</h2>
    <h2>@Model.Message</h2>

    <h3>Movies:</h3>   

    <ul>
        @for (int i = 0; i < Model.Movies.Count; i++)
        {
            var movie = Model.Movies[i];
            <li>
                <a href="/MovieDetails/@movie.Id_">@movie.Name_</a> <!-- (Director: @movie.Director_, Year: @movie.Year_, Описание @movie.Description_) -->
            </li>
        }
    </ul>

    <h3>Time: @Model.PrintTime()</h3>

    @* 2 вариант *@
   @*  <ul>
        <li>
            <a href="/MovieDetails/0"> Дневник Бриждит Джонс </a> 
            <a href="/MovieDetails/1"> Социальная сеть </a> 
            <a href="/MovieDetails/2"> Искусство самообороны </a>
        </li>
    </ul> *@

</body>
</html>